body, html {
    margin: 0;
    padding: 0;
    background-color: #1A1A1D !important;
    color: #fff !important;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    position: sticky;
    padding: 10px;
    justify-content: flex-end;
    gap: 0 10px;
    background-color: #4e4e50;
}

.navbar a {
    color: #fff;
}

.navbar-title {
    margin-right: auto;
}

.content {
    display: flex;
    flex-direction: column;
}

.sensors-readings-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.sensor-reading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.vertical-container a {
    color: #fff;
}

.logs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    margin-bottom: 10px;
}

.logged-day-wrapper {
    font-size: 1.3rem;
    padding: 10px;
    gap: 10px;
}

.log-data-table {
    overflow-y: auto;
}

.log-data-table table {
  border-collapse: collapse;
  width: 100%;
  min-width: 762px;
}

.log-data-table td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

.log-data-table tr:nth-child(even) {
  background-color: #494848;
}

.d-none {
    display: none !important;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #4e4e50;
  width: 64px;
  height: 64px;
  animation: spin 2s linear infinite;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -32px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
