#EXTEND /pico_weather_v2/static/base.html
#SECTION content
    <div class="">
        <p>
          temp: {{temp}}
        </p>
       <p>
          humi: {{humi}}
        </p>
       <p>
          pv_voltage: {{pv_voltage}}
        </p>
       <p>
          bat_voltage: {{bat_voltage}}
        </p>
       <p>
          datetime: {{datetime}}
        </p>
        <p>
          last weather log: {{last_weather_log}}
        </p>
        <p>
          logged rows: {{logged_rows_count}}
        </p>
    </div>
#END content