#EXTEND /pico_weather_v2/static/base.html
#SECTION content
    <div class="sensors-readings-wrapper">
        <div class="sensor-reading">
            <h3>
                Temperature
            </h3>
            <span id="temperature-reading">-</span>
        </div>
        <div class="sensor-reading">
            <h3>
                Humidity
            </h3>
            <span id="humidity-reading">-</span>
        </div>
        <div class="sensor-reading">
            <h3>
                Battery voltage
            </h3>
            <span id="battery-voltage-reading">-</span>
        </div>
        <div class="sensor-reading">
            <h3>
                PV voltage
            </h3>
            <span id="pv-voltage-reading">-</span>
        </div>
        <div class="sensor-reading">
            <h3>
                Current date
            </h3>
            <span id="datetime-reading">-</span>
        </div>
        <div class="sensor-reading">
            <h3>
                Last log time
            </h3>
            <span id="last-log-time-reading">-</span>
        </div>
    </div>
    <script src="/static/js/dashboard.js"></script>
    <script>
        updateSensorsDashboard();
        setInterval(updateSensorsDashboard, 2000);
    </script>
#END content